<h1 class = 'title'>Stories</h1>
<div><%= flash[:notice] %></div>
<%= form_tag changelog_pivotal_stories_path, :method => :get, :remote => true do %>
  <%= label_tag :version_id, 'Release version' %>
  <%= select_tag :version,  options_from_collection_for_select(@possible_versions, 'id', 'name', :selected => @selected_version), :onchange => 'this.form.submit();' %>
  <%= submit_tag 'Show', :disable_with => 'Loading...' %>
<% end %>
</br>
<table id = 'pivotal-stories-table'>
  <tr id = 'stories-title-row'>
    <th>Release version</th>
    <th>Type</th>
    <th>Title</th>
    <th>Accepted at</th>
    <th></th>
    <th></th>
  </tr>
<% @stories.each do |story| %>
  <%= form_tag changelog_pivotal_story_path(story.id), :method => :put do |f| %>
    <tr id = 'story-details-row'>
      <td id = 'story-version'><%= label_tag story.version.name %></td>
      <td id = 'story-type'><%= label_tag story.story_type %></td>
      <td id = 'story-title'><%= text_area_tag :title, story.title %></td>
      <td id = 'story-accepted'><%= label_tag story.accepted_at %></td>
      <td><%= submit_tag 'Update', :disable_with => 'Updating...' %> </td>
      <td><%= link_to 'Destroy', story, :method => :delete %></td>
      <td><%= hidden_field_tag 'version', @selected_version %></td>
    </tr>
  <% end %>
<% end %>
</table>