<%= form_tag("/changelog/versions/#{@id}", :id=>'new_changelog_version', :class=>'new_changelog_version', :method => @method) %>
  <div class="field">
    <div id='notice'>Name will be generated automatically in form of major.minor.build !</div>
    <%= label_tag :name %><br />
    <%= text_field_tag 'changelog_version[name]', params[:name] || params[:changelog_version] && params[:changelog_version][:name], {:disabled => true} %>
  </div>
  <div class="field">
    <%= label_tag :major %><br />
    <%= text_field_tag 'changelog_version[major]', params[:major] || params[:changelog_version] && params[:changelog_version][:major] %>
  </div>
  <div class="field">
    <%= label_tag :minor %><br />
    <%= text_field_tag 'changelog_version[minor]', params[:minor] || params[:changelog_version] && params[:changelog_version][:minor] %>
  </div>
  <div class="field">
    <%= label_tag :build %><br />
    <%= text_field_tag 'changelog_version[build]', params[:build] || params[:changelog_version] && params[:changelog_version][:build] %>
  </div>
  <div class="field">
    <%= label_tag :release_date %><br />
    <%= select_date(@date) %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>