<div class = 'changelog-container'>
  <h1 class = 'title'>Release Versions</h1>

  <table id = 'versions-list'>
    <tr class = 'title-row'>
      <th>Name</th>
      <th>Release date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @changelog_versions.each do |changelog_version| %>
    <tr class = 'details-row'>
      <td><%= changelog_version[:name] %></td>
      <td><%= changelog_version[:release_date] %></td>
      <td><%= link_to 'Edit', edit_changelog_version_path(changelog_version) %></td>
      <td><%= button_to 'Destroy', "versions/#{changelog_version[:id]}", :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Version', new_changelog_version_path %>
</div>